*{
    margin: 0 30px;
    padding: 0;
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
nav h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
/* line-height: 38px; */
letter-spacing: 0%;
/* text-align: left; */
}
nav button{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;

}