*{
    margin: 0 30px;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Fira Sans;
}
nav{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    
    
}
nav h1{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
}
nav button{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
}
#hero{
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 20px 0;  
}
#hero .container{
    flex-direction: column;
    margin-top: 50px;
    background: rgb(198, 228, 214);
}
.container .title{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
background: rgb(198, 228, 214);
}

.container .subtitle{
color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
background: rgb(198, 228, 214);
}
#hero img{
    background-color: rgb(198, 228, 214);
    
}
.btn{
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: aliceblue;
}


#pillars{
    margin-top: 80px;
    margin-bottom: 60px;
}
.h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.p{
    color: rgba(14, 14, 14, 0.7);

    font-size: 16px;
    font-weight: 400;
}
.card-container{
    display: flex;
    max-height: fit-content;
    margin: 20px 0;
}
.card-container .card{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-color: rgb(255, 255, 255);
padding: 20px 0;
margin-left: 0px;

}
.card h1,p,img{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.p1{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    background-color: #F5F5F5;
    margin: 20px 0;
}

.btn1{
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: aliceblue;
   
}
.btn2{
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background: rgb(184, 222, 94);
    color: rgb(255, 255, 255);
   
}
.btn3{
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background: rgb(237, 193, 127);
    color: aliceblue;
   
}

/* The vision of future */



#vision{
    margin-bottom: 50px;
}
.vision-card-container{
    display: flex;
    max-height: fit-content;
    margin: 20px 0;
    
}
.vision-card{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 20px 0;
margin-left: 0px;

}
.vision-card1{
    box-sizing: border-box;
    border-radius: 16px;
    
    background-color:  lightpink;
}

.vision-card .image1{
    background-color:lightpink;
}
.vision-card1 .digital{
    background-color: lightpink;
}
.trans{
    background-color: lightpink;
}

.vision-card2{
    box-sizing: border-box;
    border-radius: 16px;
    
    background-color:rgb(198, 228, 214);
}

.vision-card2 .image2{
    background-color:rgb(198, 228, 214);
}
.vision-card2 .digital2{
    background-color:rgb(198, 228, 214);
}
.trans2{
    background-color: rgb(198, 228, 214);
}


.vision-card3{
    box-sizing: border-box;
    border-radius: 16px;
    
    background-color: rgb(247, 235, 207);
}

.vision-card3 .image3{
    background-color: rgb(247, 235, 207);
}
.vision-card3 .digital3{
    background-color:rgb(247, 235, 207);
}
.trans3{
    background-color: rgb(247, 235, 207);
}













#target{
    border-radius: 25px;
}
.dr-muhammad{
    margin: 0;
    flex-direction: column;
}
.dr{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
border-radius: 8px;
background-image: url("./assets/quote-bg.png");
background-repeat: no-repeat;
padding: 20px 20px;
margin:0;
}
.sir{
    background-color: white;
    padding: 0 20px;
    margin: 0;
}
.chief{
    margin: 0px;
    padding: 0 20px;
    color: rgba(14, 14, 14, 0.6);
/* font-family: Fira Sans; */
font-size:12px;
font-weight: 400;
padding-bottom: 20px;
margin-bottom: 70px;
}
.news{
    display: flex;
    margin: 0;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.news img{
    border-radius: 10px;
    margin: 0;
    margin: 15px 0;
   
}
.news p{
    padding: 10px 0;
}
.recent-img, .right-img, .launch, .img{
    background-color: white;
}

#donate{
    position: relative;
}
.donate-container {
    text-align: center;
    padding: 40px;  
    background-color: #F5F5F5;
}
.donate-container p{
    background-color: #F5F5F5;
}
.donate-container .donate{
    margin-bottom: 20px;
}
.container-taka{
    display: flex;
    margin: 0;
    justify-content:center;
}
.taka-t{
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 25px 30px;
background-color:white;
margin-bottom: 30px;
margin: 5px 30px 30px 30px ;

}
.color{
    background-color: aqua;
}

  
  .done-button {
    margin: 20px;
    position: relative;
    left: 40%;
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    background: rgb(0, 106, 80);
    color: aliceblue;
  }

.text{
    display: block;
    width: 70%;
    font-size: 1rem;
    margin: 0 auto 10px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    
    
}

footer {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.subs-container {
    text-align: center;
    background: #DFF1E0;
    padding: 40px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 40px;
}

.subs-container h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color: #333;
    background: #DFF1E0;
}

.subs-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    background: #DFF1E0;
}

.subs-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: #DFF1E0;
}

.email-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
    max-width: 500px;
}
.subs-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.subs-button:hover {
    background-color: #45a049;
}

.note {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}

.hover:hover{
    background-color: #91d094;
}